<a href="https://colab.research.google.com/github/zecakpm/SQL/blob/main/1_The_Report_HackerRank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1-The Report - HackerRank
WITH, JOIN, BETWEEN, IF

In [ ]:
WITH main_tb AS (
SELECT
  * FROM STUDENTS st
JOIN GRADES gr
ON st.Marks
BETWEEN gr.Min_Mark AND gr.Max_Mark )

SELECT
  IF(Grade<8,NULL,Name),
  Grade,
  Marks
FROM main_tb ORDER BY 2 DESC, 1,3