<a href="https://colab.research.google.com/github/zecakpm/SQL/blob/main/4_Weather_Observation_Station_20_RackerRank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4-Weather Observation Station 20 - RackerRank
* median calculation with rank, over and count

In [ ]:
WITH main_tb AS (
SELECT
*,
RANK() OVER(ORDER BY LAT_N) AS rn, 
COUNT(*) OVER () AS rn_cnt
FROM STATION

)

SELECT ROUND(LAT_N,4) AS LAT_N FROM main_tb
WHERE rn in (((rn_cnt+1)/2), ((rn_cnt+2)/2))