<a href="https://colab.research.google.com/github/zecakpm/SQL/blob/main/7_Host_Popularity_Rental_Prices_StrataScratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##7-Host Popularity Rental Prices - StrataScratch
WITH, CASE - WHEN, MAX, MIN, AVG

In [ ]:
WITH clt_rates  AS (
SELECT
CONCAT(price, room_type, host_since, zipcode,number_of_reviews) AS host_id,
    CASE
           WHEN (sum(number_of_reviews) = 0) THEN 'New'
           WHEN (sum(number_of_reviews) > 0) AND (sum(number_of_reviews) <=5) THEN 'Rising'
           WHEN (sum(number_of_reviews) > 5) AND (sum(number_of_reviews) <=15) THEN 'Trending Up'
           WHEN (sum(number_of_reviews) > 15) AND (sum(number_of_reviews) <=40) THEN 'Popular'
           WHEN (sum(number_of_reviews) > 40) THEN 'Hot'
        ELSE ''
        END AS pop_rating,
price
FROM
airbnb_host_searches
GROUP BY 1,3)


SELECT
pop_rating,
min(price) min_price,
avg(price) avg_price,
max(price) max_price

FROM clt_rates
GROUP by 1