<a href="https://colab.research.google.com/github/zecakpm/SQL/blob/main/7_Weather_Observation_Station6_HackerHank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##7-Weather Observation Station 6 - HackerHank

How to regex to select cities with vowels as the first letters MySQL

In [ ]:
SELECT CITY
FROM STATION
WHERE
CITY RLIKE '^[aeiouAEIOU]'