<a href="https://colab.research.google.com/github/zecakpm/SQL/blob/main/9_Titanic_Survivor_Report_by_class_StrataScratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##9-Titanic Survivor Report by class - StrataScratch
WITH, CASE WHEN, COUNT

In [ ]:
SELECT survived,
# COUNT + CASE WHEN will transpose values from 1 column to 3 different columns
COUNT(CASE WHEN pclass = 1 THEN 1 END) AS first_class,
COUNT(CASE WHEN pclass = 2 THEN 2 END) AS second_class,
COUNT(CASE WHEN pclass = 3 THEN 3 END) AS third_class
FROM titanic
GROUP BY 1;