<a href="https://colab.research.google.com/github/zecakpm/SQL/blob/main/New_Companies_HackerRank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
New Companies - HackerRank

In [ ]:
SELECT
    co.company_code,
    founder,
    COUNT(DISTINCT(lead_manager_code)) AS num_lead,
    COUNT(DISTINCT(senior_manager_code)) AS num_senior,
    COUNT(DISTINCT(manager_code)) AS num_manager,
    COUNT(DISTINCT(employee_code))AS num_eployee
FROM Employee em
    LEFT JOIN
    Company co
    ON em.company_code = co.company_code
GROUP BY 1,2
ORDER BY 1