<a href="https://colab.research.google.com/github/zecakpm/SQL/blob/main/The_PADS_HackerRank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
The PADS - HackerRank

In [ ]:
SELECT
    CONCAT(NAME,"(",SUBSTRING(OCCUPATION,1,1),")") AS LETTER
FROM 
    OCCUPATIONS
ORDER BY NAME;

WITH BASE AS (
SELECT
    OCCUPATION,
    COUNT(OCCUPATION) AS CNT_OC
FROM OCCUPATIONS
GROUP BY 1 
)

SELECT 
    CASE
        WHEN OCCUPATION = 'Doctor' THEN CONCAT(" There are a total of ", CNT_OC,' doctors.')
        WHEN OCCUPATION = 'Singer' THEN CONCAT(" There are a total of ", CNT_OC,' singers.')
        WHEN OCCUPATION = 'Actor' THEN CONCAT(" There are a total of ", CNT_OC,' actors.')
        WHEN OCCUPATION = 'Professor' THEN CONCAT(" There are a total of ", CNT_OC,' professors.')
        ELSE ""
    END
FROM BASE
ORDER BY 1